{% extends 'base.html' %}
{% block title %}Homepage | DevLima{% endblock title %}
{% block content %}
<div class="post mb-4 p-3 p-md-4 border rounded mx-2 mx-md-5">
        <h3>About</h3>
        <div class="post-content pt-4">
            Este é um blog feito com Django  no Back-End e Bootstrap no Front-End. O intuito deste blog é aplicar os conceitos aprendidos
            no decorrer do curso de Programação em Python do Senac.<br><br>
            Para o banco de dados, utilizei o PostgreSQL, porém também é possível alterar os parâmetros para utilizar SQLite3 no arquivo settings.py.
        </div>
</div>
{% endblock content%}