{% load static %}
<nav class="ps-5 pe-5 navbar navbar-expand-lg navbar-dark bg-dark py-2">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-2 text-white" href="/"><img src="https://cdn-icons-png.flaticon.com/512/10478/10478244.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top"><span class="fs-3">DevUpdates</span></a>
    <button class="navbar-toggler border-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-1 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link  fs-5 text-white active pb-1" aria-current="page" href="/posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  fs-5 text-white active pb-1" href="/about">About</a>
        </li>
      </ul>
      <!--
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Faça uma pesquisa" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    -->
    </div>
  </div>
</nav>

<!--"{% static 'blog/icon.png' %}"--> 